In [1]:
import sys
import spotipy
import spotipy.util as util

import re
import pandas as pd
import numpy as np

In [2]:
import config

In [3]:
import requests
import warnings
import time

# Spotify API Authorization

## Loading in Cliet info

In [4]:
#loading in client id and secret provided by Spotify
client_id=config.client_id
client_secret=config.client_secret

#set my redirect url to google
redirect_uri="https://google.com/"

username=config.username

In [5]:
scope = 'user-library-read'

In [6]:
token = util.prompt_for_user_token(username,scope,client_id,client_secret,redirect_uri)

## Authenticating Method

In [7]:
sp = spotipy.Spotify(auth=token)

In [8]:
token

'BQB-aanfAsBdDGDJvAlGu0spuMS0o0BpRk5LaFY52jh4bHgWlBWQ23WoKT25POLsIWcCHivdjF63LRNLrFmnHNDAzU62YFUnd5sWHwL1pWEaSiBPvC8hAwJw_Q-ssXaQT2b9UOvN-qPGQ2N0J-o_Frzv3Q'

# Gathering top 10k songs by Year

In [150]:
# timeit library to measure the time needed to run this code
import timeit

## 2019

In [156]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2019', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 146.08357431699915

In [157]:
len(artist_name)

10000

In [159]:
df_top2019tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2019tracks.shape)
df_top2019tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Billie Eilish,bad guy,2Fxmhks0bxGSBdJ92vM42m,100
1,Lil Nas X,Old Town Road - Remix,6u7jPi22kF8CTQ3rb9DHE7,98
2,Ed Sheeran,I Don't Care (with Justin Bieber),3HVWdVOQ0ZA45FuZGSfvns,99
3,DaBaby,Suge,2gwkD6igEhQbDQegRCcdoB,90
4,"Tyler, The Creator",EARFQUAKE,5hVghJ4KaYES3BFUATCYn0,92

In [229]:
# group the entries by artist_name and track_name and check for duplicates
grouped = df_top2019tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

2076

In [249]:
#dropping duplicates
df_top2019tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [250]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2019tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [251]:
df_top2019tracks.shape

(7468, 4)

## 2018

In [160]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2018', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 162.754268185

In [161]:
len(artist_name)

10000

In [162]:
df_top2018tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2018tracks.shape)
df_top2018tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Post Malone,Sunflower - Spider-Man: Into the Spider-Verse,3KkXRkHbMCARz0aVfEt68P,94
1,Post Malone,Wow.,6MWtB6iiXyIwun0YzU6DFP,92
2,A Boogie Wit da Hoodie,Swervin (feat. 6ix9ine),1wJRveJZLSb1rjhnUHQiv6,90
3,Meek Mill,Going Bad (feat. Drake),2IRZnDFmlqMuOrYOLnZZyc,88
4,YNW Melly,Murder On My Mind,7eBqSVxrzQZtK2mmgRG6lC,88

In [230]:
# group the entries by artist_name and track_name and check for duplicates
grouped = df_top2018tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1854

In [252]:
#dropping duplicates
df_top2018tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [253]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2018tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [292]:
df_top2018tracks.shape

(7673, 4)

## 2017

In [163]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2017', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 157.08111427999938

In [164]:
len(artist_name)

10000

In [165]:
df_top2017tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2017tracks.shape)
df_top2017tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,XXXTENTACION,Jocelyn Flores,7m9OqQk4RVRkw9JJdeAw96,86
1,Billie Eilish,idontwannabeyouanymore,41zXlQxzTi6cGAjpOXyLYH,85
2,Offset,Ric Flair Drip (& Metro Boomin),7sO5G9EABYOXQKNPNiE9NR,83
3,XXXTENTACION,Fuck Love (feat. Trippie Redd),7AQim7LbvFVZJE3O8TYgf2,83
4,Khalid,Young Dumb & Broke,5Z3GHaZ6ec9bsiI5BenrbY,83

In [231]:
grouped = df_top2017tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1914

In [254]:
#dropping duplicates
df_top2017tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [255]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2017tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [293]:
df_top2017tracks.shape

(7620, 4)

## 2016

In [172]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2016', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 149.67507480200038

In [173]:
len(artist_name)

10000

In [174]:
df_top2016tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2016tracks.shape)
df_top2016tracks.head()

(10000, 4)

        artist_name       track_name                track_id  popularity
0       Post Malone     I Fall Apart  75ZvA4QfFiZvzhj2xkaWAh          84
1       Post Malone  Congratulations  3a1lNhkSLSkpJE4MSHpDu9          84
2      Travis Scott       goosebumps  6gBFPUFcJLzWGx4lenP6h2          83
3         Jon Pardi      Night Shift  0bPnT6i9H1p8Vd85GS6Z7I          77
4  Hailee Steinfeld         Starving  4Ce37cRWvM1vIGGynKcs22          83

In [232]:
grouped = df_top2016tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1979

In [256]:
#dropping duplicates
df_top2016tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [257]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2016tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [294]:
df_top2016tracks.shape

(7396, 4)

## 2015

In [175]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2015', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 156.09513346400126

In [176]:
len(artist_name)

10000

In [177]:
df_top2015tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2015tracks.shape)
df_top2015tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Tame Impala,The Less I Know The Better,6K4t31amVTZDgR3sKmwUJJ,83
1,Thomas Rhett,Die A Happy Man,5kNe7PE09d6Kvw5pAsx23n,75
2,Bryson Tiller,Exchange,43PuMrRfbyyuz4QpZ3oAwN,78
3,Chris Stapleton,Tennessee Whiskey,3fqwjXwUGN6vbzIwvyFMhx,76
4,White Noise Meditation,Brown Noise - Loopable with No Fade,67iF3DdebmElASIGoebYt1,76

In [233]:
grouped = df_top2015tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

2016

In [258]:
#dropping duplicates
df_top2015tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [259]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2015tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [295]:
df_top2015tracks.shape

(7432, 4)

## 2014

In [178]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2014', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 143.25167518099988

In [179]:
len(artist_name)

10000

In [180]:
df_top2014tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2014tracks.shape)
df_top2014tracks.head()

(10000, 4)

     artist_name         track_name                track_id  popularity
0        J. Cole     No Role Modelz  62vpWI1CHwFy7tMIcSStl8          81
1      Vance Joy            Riptide  3JvrhDOgAt6p7K8mDyZwRd          77
2        J. Cole         Wet Dreamz  6Ius4TC0L3cN74HT7ENE6e          78
3  WALK THE MOON  Shut Up and Dance  4kbj5MwxO1bq9wjT5g9HaA          79
4      Sam Smith       Stay With Me  5Nm9ERjJZ5oyfXZTECKmRt          82

In [234]:
grouped = df_top2014tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

2012

In [260]:
#dropping duplicates
df_top2014tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [261]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2014tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [296]:
df_top2014tracks.shape

(7600, 4)

## 2013

In [181]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2013', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 141.07191798999884

In [182]:
len(artist_name)

10000

In [183]:
df_top2013tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2013tracks.shape)
df_top2013tracks.head()

(10000, 4)

        artist_name     track_name                track_id  popularity
0       John Legend      All of Me  3U4isOIWM3VvDubwSI3y7a          84
1     Darius Rucker    Wagon Wheel  3xdjjKMcMOFgo1eQrfbogM          75
2        Luke Bryan  Play It Again  03fT3OHB9KyMtGMt2zwqCT          74
3            Avicii     Wake Me Up  4h8VwCb1MTGoLKueQ1WgbD          83
4  Childish Gambino           3005  2ZltjIqztEpZtafc8w0I9t          74

In [235]:
grouped = df_top2013tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1773

In [262]:
#dropping duplicates
df_top2013tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [263]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2013tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [297]:
df_top2013tracks.shape

(7706, 4)

## 2012

In [184]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2012', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 133.0901703669988

In [185]:
len(artist_name)

10000

In [186]:
df_top2012tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2012tracks.shape)
df_top2012tracks.head()

(10000, 4)

       artist_name           track_name                track_id  popularity
0      Frank Ocean     Thinkin Bout You  7DfFc7a6Rwfi3YQMRbDMau          73
1             MKTO              Classic  6FE2iI43OZnszFLuLtvvmg          76
2  Imagine Dragons               Demons  3LlAyCYU26dvFZBDUIMb7a          72
3       Bruno Mars  When I Was Your Man  0nJW01T7XtvILxQgC5J7Wh          81
4  Imagine Dragons          Radioactive  4G8gkOterJn0Ywt6uhqbhp          72

In [236]:
grouped = df_top2012tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1648

In [264]:
#dropping duplicates
df_top2012tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [265]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2012tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [298]:
df_top2012tracks.shape

(7857, 4)

## 2011

In [193]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2011', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 125.90893161900021

In [194]:
len(artist_name)

10000

In [195]:
df_top2011tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2011tracks.shape)
df_top2011tracks.head()

(10000, 4)

         artist_name        track_name                track_id  popularity
0          Grouplove       Tongue Tied  0GO8y8jQk1PkHzS31d699N          78
1  Foster The People   Pumped Up Kicks  7w87IxuO7BDcJ3YUqCyMTT          82
2              Adele  Someone Like You  4kflIGfjdZJW4ot2ioixTB          77
3        Eric Church       Springsteen  05ZACkzW8YbRq3eFgIfSNB          73
4    Christina Perri  A Thousand Years  6lanRgr6wXibZr8KgzXxBl          79

In [237]:
grouped = df_top2011tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1390

In [266]:
#dropping duplicates
df_top2011tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [268]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2011tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [299]:
df_top2011tracks.shape

(8219, 4)

## 2010

In [196]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2010', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 124.58034648000103

In [197]:
len(artist_name)

10000

In [198]:
df_top2010tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2010tracks.shape)
df_top2010tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Train,"Hey, Soul Sister",4HlFJV71xXKIGcU3kRyttv,82
1,Bruno Mars,Just the Way You Are,7BqBn9nzAq8spo5e7cZ0dJ,78
2,Kanye West,POWER,2gZUPNdnz5Y45eiGxpHGSc,77
3,Jason Aldean,Dirt Road Anthem,2qYsSHsYkihWx043HVJQRV,71
4,Waka Flocka Flame,No Hands (feat. Roscoe Dash & Wale),03tqyYWC9Um2ZqU0ZN849H,72

In [238]:
grouped = df_top2010tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1162

In [269]:
#dropping duplicates
df_top2010tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [270]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2010tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [300]:
df_top2010tracks.shape

(8625, 4)

## 2009

In [199]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2009', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 114.6528778539996

In [200]:
len(artist_name)

10000

In [201]:
df_top2009tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2009tracks.shape)
df_top2009tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Miley Cyrus,Party In The U.S.A.,5Q0Nhxo0l2bP3pNjpGJwV1,75
1,Cage The Elephant,Ain't No Rest for the Wicked,3Pzh926pXggbMe2ZpXyMV7,74
2,Kid Cudi,Day 'N' Nite (nightmare),5FEXPoPnzueFJQCPRIrC3c,72
3,Owl City,Fireflies,3DamFFqW32WihKkTVlwTYQ,78
4,Kid Cudi,Pursuit Of Happiness (Nightmare),5iSEsR6NKjlC9SrIJkyL3k,70

In [239]:
grouped = df_top2009tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

1050

In [271]:
#dropping duplicates
df_top2009tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [272]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2009tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [301]:
df_top2009tracks.shape

(8829, 4)

## 2008

In [202]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2008', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 115.35964736100141

In [203]:
len(artist_name)

10000

In [204]:
df_top2008tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2008tracks.shape)
df_top2008tracks.head()

(10000, 4)

      artist_name     track_name                track_id  popularity
0  Zac Brown Band  Chicken Fried  4dGJf1SER1T6ooX46vwzRB          76
1      Jason Mraz      I'm Yours  1EzrEOXmMH3G43AXT1y7pA          83
2      Kanye West      Heartless  4EWCNWgDS8707fNSZ1oaA5          75
3      The Script      Breakeven  38xWaVFKaxZlMFvzNff2aW          75
4         Beyoncé           Halo  4JehYebiI9JE8sR8MisGVb          77

In [273]:
grouped = df_top2008tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

675

In [274]:
#dropping duplicates
df_top2008tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [275]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2008tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [303]:
df_top2008tracks.shape

(9211, 4)

## 2007

In [205]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2007', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 194.75089371000286

In [206]:
len(artist_name)

10000

In [207]:
df_top2007tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2007tracks.shape)
df_top2007tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,T-Pain,Buy U a Drank (Shawty Snappin'),2aIdVb8v9KTpEZnftkz2mD,76
1,Kanye West,Stronger,4fzsfWzRhPawzqhX8Qt9F3,79
2,Leona Lewis,Bleeding Love,7wZUrN8oemZfsEd1CGkbXE,79
3,MGMT,Electric Feel,3FtYbEfBqAlGO46NUDQSAt,76
4,Alicia Keys,No One,6IwKcFdiRQZOWeYNhUiWIv,79

In [240]:
grouped = df_top2007tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

459

In [276]:
#dropping duplicates
df_top2007tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [277]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2007tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [304]:
df_top2007tracks.shape

(9516, 4)

## 2006

In [208]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2006', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 172.23615918500218

In [209]:
len(artist_name)

10000

In [210]:
df_top2006tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2006tracks.shape)
df_top2006tracks.head()

(10000, 4)

          artist_name           track_name                track_id  popularity
0         Snow Patrol         Chasing Cars  11bD1JtSjlIgKgZG2134DZ          77
1              Fergie         Fergalicious  1D066zixBwqFYqBhKgdPzp          70
2               Ne-Yo              So Sick  6brl7bwOHmGFkNw3MBqssT          77
3  Corinne Bailey Rae  Put Your Records On  2nGFzvICaeEWjIrBrL2RAx          77
4                Akon           Smack That  2kQuhkFX7uSVepCD3h29g5          71

In [241]:
grouped = df_top2006tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

604

In [278]:
#dropping duplicates
df_top2006tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [279]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2006tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [305]:
df_top2006tracks.shape

(9358, 4)

## 2005

In [211]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2005', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 131.67505265100044

In [212]:
len(artist_name)

10000

In [213]:
df_top2005tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2005tracks.shape)
df_top2005tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Panic! At The Disco,I Write Sins Not Tragedies,4bPQs0PHn4xbipzdPfn6du,75
1,Fall Out Boy,"Sugar, We're Goin Down",2TfSHkHiFO4gRztVIkggkE,77
2,Plain White T's,Hey There Delilah,4RCWB3V8V0dignt99LZ8vH,79
3,Kanye West,Gold Digger,1PS1QMdUqOal0ai3Gt7sDQ,78
4,Eminem,"Lose Yourself - From ""8 Mile"" Soundtrack",5Z01UMMf7V1o0MzF86s6WJ,77

In [242]:
grouped = df_top2005tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

373

In [280]:
#dropping duplicates
df_top2005tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [281]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2005tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [306]:
df_top2005tracks.shape

(9597, 4)

## 2004

In [214]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2004', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 122.37952402399969

In [215]:
len(artist_name)

10000

In [216]:
df_top2004tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2004tracks.shape)
df_top2004tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,The Killers,Mr. Brightside,7oK9VyNzrYvRFo7nQEYkWN,78
1,Mario,Let Me Love You,3ibKnFDaa3GhpPGlOUj7ff,78
2,Usher,Yeah! (feat. Lil Jon & Ludacris),5rb9QrpfcKFHM1EUbSIurX,79
3,Ciara,"One, Two Step",7uKcScNXuO3MWw6LowBjW1,74
4,Kelly Clarkson,Since U Been Gone,3xrn9i8zhNZsTtcoWgQEAd,73

In [244]:
grouped = df_top2004tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

435

In [282]:
#dropping duplicates
df_top2004tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [283]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2004tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [307]:
df_top2004tracks.shape

(9536, 4)

## 2003

In [217]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2003', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 82.34711944199807

In [218]:
len(artist_name)

10000

In [219]:
df_top2003tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2003tracks.shape)
df_top2003tracks.head()

(10000, 4)

         artist_name          track_name                track_id  popularity
0  The White Stripes   Seven Nation Army  7i6r9KotUPQg3ozKKgEPIN          74
1        Alicia Keys  If I Ain't Got You  3XVBdLihbNbxUwZosxcGuJ          78
2        Linkin Park                Numb  2nLtzopw4rPReszdYBJU6h          80
3            OutKast             Hey Ya!  2PpruBYCo4H7WOBJ7Q2EwM          77
4            50 Cent          In Da Club  4RY96Asd9IefaL3X4LOLZ8          71

In [245]:
grouped = df_top2003tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

329

In [284]:
#dropping duplicates
df_top2003tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [285]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2003tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [308]:
df_top2003tracks.shape

(9654, 4)

## 2002

In [220]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2002', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 75.52724883100018

In [221]:
len(artist_name)

10000

In [222]:
df_top2002tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2002tracks.shape)
df_top2002tracks.head()

(10000, 4)

,artist_name,track_name,track_id,popularity
0,Eminem,'Till I Collapse,4xkOaSrkexMciUUogZKVTS,83
1,Eminem,Without Me,7lQ8MOhq6IN2w8EYcFNSUk,81
2,Coldplay,The Scientist,75JFxkI2RXiU7L9VXzMkle,82
3,Nelly,Dilemma,0ARK753YaiJbpLUk7z5yIM,77
4,Maroon 5,She Will Be Loved - Radio Mix,4llK75pXNWZz6KAho2Gp16,80

In [246]:
grouped = df_top2002tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

341

In [286]:
#dropping duplicates
df_top2002tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [287]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2002tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [309]:
df_top2002tracks.shape

(9614, 4)

## 2001

In [223]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2001', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 76.27226712400079

In [224]:
len(artist_name)

10000

In [225]:
df_top2001tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2001tracks.shape)
df_top2001tracks.head()

(10000, 4)

        artist_name         track_name                track_id  popularity
0             Train   Drops of Jupiter  2hKdd3qO7cWr2Jo0Bcs0MA          78
1            Weezer  Island In The Sun  2MLHyLy5z5l5YRp7momlgw          76
2   Jimmy Eat World         The Middle  6GG73Jik4jUlQCkKg9JuGO          76
3        Papa Roach        Last Resort  5W8YXBz9MTIDyrpYaCg2Ky          78
4  System Of A Down         Chop Suey!  2DlHlPMa4M17kufBvI2lEN          79

In [247]:
grouped = df_top2001tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

311

In [288]:
#dropping duplicates
df_top2001tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [289]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2001tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [310]:
df_top2001tracks.shape

(9683, 4)

## 2000

In [226]:
start = timeit.default_timer()

# create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0,10000,50):
    track_results = sp.search(q='year:2000', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
      

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

Time to run this code (in seconds): 123.525575828

In [227]:
len(artist_name)

10000

In [228]:
df_top2000tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
print(df_top2000tracks.shape)
df_top2000tracks.head()

(10000, 4)

    artist_name           track_name                track_id  popularity
0   Linkin Park           In the End  60a0Rd6pjrkxjPbaKzXjfq          82
1  3 Doors Down           Kryptonite  6ZOBP3NvffbU4SZcrnt1k6          77
2       OutKast          Ms. Jackson  0I3q5fE6wg7LIfHGngUTnV          77
3        Eminem  The Real Slim Shady  3yfqSUWxFvZELEM4PmlwIR          78
4        *NSYNC          Bye Bye Bye  62bOmKYxYg7dhrC6gH9vFn          71

In [248]:
grouped = df_top2000tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

258

In [290]:
#dropping duplicates
df_top2000tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [291]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = df_top2000tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [311]:
df_top2000tracks.shape

(9724, 4)

# Concat All Years DF

In [312]:
top_songs_2000to20019=pd.concat([df_top2019tracks,df_top2018tracks,
                                 df_top2017tracks,df_top2016tracks,
                                 df_top2015tracks,df_top2014tracks,
                                 df_top2013tracks,df_top2012tracks,
                                 df_top2011tracks,df_top2010tracks,
                                 df_top2009tracks,df_top2008tracks,
                                 df_top2007tracks,df_top2006tracks,
                                 df_top2005tracks,df_top2004tracks,
                                 df_top2003tracks,df_top2002tracks,
                                 df_top2001tracks,df_top2000tracks], ignore_index=True)

In [314]:
top_songs_2000to20019.shape

(172318, 4)

In [315]:
#checking for duplicates
grouped = top_songs_2000to20019.groupby(['artist_name',
                                         'track_name'], as_index=True).size()
grouped[grouped > 1].count()

5443

In [316]:
#dropping duplicates
top_songs_2000to20019.drop_duplicates(subset=['artist_name',
                                              'track_name'], inplace=True)

In [317]:
# doing the same grouping as before to verify the solution
grouped_after_dropping = top_songs_2000to20019.groupby(['artist_name',
                                                        'track_name'],
                                                       as_index=True).size()
grouped_after_dropping[grouped_after_dropping > 1].count()

0

In [318]:
top_songs_2000to20019.shape

(166420, 4)

In [320]:
top_songs_2000to20019.head(1)

     artist_name track_name                track_id  popularity
0  Billie Eilish    bad guy  2Fxmhks0bxGSBdJ92vM42m         100

# Audio Features for Top Songs

In [327]:
# again measuring the time
start = timeit.default_timer()

# empty list, batchsize and the counter for None results
rows = []
batchsize = 100
None_counter = 0

for i in range(0,len(top_songs_2000to20019['track_id']),batchsize):
    batch = top_songs_2000to20019['track_id'][i:i+batchsize]
    feature_results = sp.audio_features(batch)
    for i, t in enumerate(feature_results):
        if t == None:
            None_counter = None_counter + 1
        else:
            rows.append(t)
            
print('Number of tracks where no audio features were available:',None_counter)

stop = timeit.default_timer()
print ('Time to run this code (in seconds):',stop - start)

Number of tracks where no audio features were available: 16
Time to run this code (in seconds): 203.97036210499937

In [328]:
print('number of elements in the track_id list:', len(rows))

number of elements in the track_id list: 166404

In [329]:
df_audio_features_top_songs = pd.DataFrame.from_dict(rows,orient='columns')
print("Shape of the dataset:", df_audio_features_top_songs.shape)
df_audio_features_top_songs.head()

Shape of the dataset: (166404, 18)

,acousticness,analysis_url,danceability,duration_ms,energy,id,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,track_href,type,uri,valence
0,0.3280,https://api.spotify.com/v1/audio-analysis/2Fxm...,0.701,194088,0.425,2Fxmhks0bxGSBdJ92vM42m,0.130000,7,0.1000,-10.965,1,0.3750,135.128,4,https://api.spotify.com/v1/tracks/2Fxmhks0bxGS...,audio_features,spotify:track:2Fxmhks0bxGSBdJ92vM42m,0.562
1,0.0533,https://api.spotify.com/v1/audio-analysis/6u7j...,0.878,157067,0.619,6u7jPi22kF8CTQ3rb9DHE7,0.000000,6,0.1130,-5.560,1,0.1020,136.041,4,https://api.spotify.com/v1/tracks/6u7jPi22kF8C...,audio_features,spotify:track:6u7jPi22kF8CTQ3rb9DHE7,0.639
2,0.0912,https://api.spotify.com/v1/audio-analysis/3HVW...,0.798,219947,0.675,3HVWdVOQ0ZA45FuZGSfvns,0.000000,6,0.0894,-5.041,1,0.0442,101.956,4,https://api.spotify.com/v1/tracks/3HVWdVOQ0ZA4...,audio_features,spotify:track:3HVWdVOQ0ZA45FuZGSfvns,0.842
3,0.0608,https://api.spotify.com/v1/audio-analysis/2gwk...,0.876,163320,0.662,2gwkD6igEhQbDQegRCcdoB,0.000000,2,0.1270,-6.482,0,0.4260,75.445,4,https://api.spotify.com/v1/tracks/2gwkD6igEhQb...,audio_features,spotify:track:2gwkD6igEhQbDQegRCcdoB,0.844
4,0.2300,https://api.spotify.com/v1/audio-analysis/5hVg...,0.554,190067,0.498,5hVghJ4KaYES3BFUATCYn0,0.000006,9,0.7950,-8.866,1,0.0685,79.635,4,https://api.spotify.com/v1/tracks/5hVghJ4KaYES...,audio_features,spotify:track:5hVghJ4KaYES3BFUATCYn0,0.413

In [330]:
df_audio_features_top_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166404 entries, 0 to 166403
Data columns (total 18 columns):
acousticness        166404 non-null float64
analysis_url        166404 non-null object
danceability        166404 non-null float64
duration_ms         166404 non-null int64
energy              166404 non-null float64
id                  166404 non-null object
instrumentalness    166404 non-null float64
key                 166404 non-null int64
liveness            166404 non-null float64
loudness            166404 non-null float64
mode                166404 non-null int64
speechiness         166404 non-null float64
tempo               166404 non-null float64
time_signature      166404 non-null int64
track_href          166404 non-null object
type                166404 non-null object
uri                 166404 non-null object
valence             166404 non-null float64
dtypes: float64(9), int64(4), object(5)
memory usage: 22.9+ MB

In [ ]:
#saving raw audio features dataset
#df_audio_features_top_songs.to_csv(r'data/spotify_pool_df_v1.csv')

In [332]:
columns_to_drop = ['analysis_url','track_href','type','uri']
df_audio_features_top_songs.drop(columns_to_drop, axis=1,inplace=True)

df_audio_features_top_songs.rename(columns={'id': 'track_id'}, inplace=True)

df_audio_features_top_songs.shape

(166404, 14)

In [333]:
# merge both dataframes
# the 'inner' method will make sure that we only keep track IDs present in both datasets
df = pd.merge(top_songs_2000to20019,df_audio_features_top_songs,on='track_id',
              how='inner')
print("Shape of the dataset:", df_audio_features_top_songs.shape)
df.head()

Shape of the dataset: (166404, 14)

,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence
0,Billie Eilish,bad guy,2Fxmhks0bxGSBdJ92vM42m,100,0.3280,0.701,194088,0.425,0.130000,7,0.1000,-10.965,1,0.3750,135.128,4,0.562
1,Lil Nas X,Old Town Road - Remix,6u7jPi22kF8CTQ3rb9DHE7,98,0.0533,0.878,157067,0.619,0.000000,6,0.1130,-5.560,1,0.1020,136.041,4,0.639
2,Ed Sheeran,I Don't Care (with Justin Bieber),3HVWdVOQ0ZA45FuZGSfvns,99,0.0912,0.798,219947,0.675,0.000000,6,0.0894,-5.041,1,0.0442,101.956,4,0.842
3,DaBaby,Suge,2gwkD6igEhQbDQegRCcdoB,90,0.0608,0.876,163320,0.662,0.000000,2,0.1270,-6.482,0,0.4260,75.445,4,0.844
4,"Tyler, The Creator",EARFQUAKE,5hVghJ4KaYES3BFUATCYn0,92,0.2300,0.554,190067,0.498,0.000006,9,0.7950,-8.866,1,0.0685,79.635,4,0.413

In [334]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166404 entries, 0 to 166403
Data columns (total 17 columns):
artist_name         166404 non-null object
track_name          166404 non-null object
track_id            166404 non-null object
popularity          166404 non-null int64
acousticness        166404 non-null float64
danceability        166404 non-null float64
duration_ms         166404 non-null int64
energy              166404 non-null float64
instrumentalness    166404 non-null float64
key                 166404 non-null int64
liveness            166404 non-null float64
loudness            166404 non-null float64
mode                166404 non-null int64
speechiness         166404 non-null float64
tempo               166404 non-null float64
time_signature      166404 non-null int64
valence             166404 non-null float64
dtypes: float64(9), int64(5), object(3)
memory usage: 22.9+ MB

In [335]:
#checking for duplicates
df[df.duplicated(subset=['artist_name','track_name'],keep=False)]

Empty DataFrame
Columns: [artist_name, track_name, track_id, popularity, acousticness, danceability, duration_ms, energy, instrumentalness, key, liveness, loudness, mode, speechiness, tempo, time_signature, valence]
Index: []

In [337]:
#exporting df
#df.to_csv(r'data/spotify_pool_df_v2.csv',index=False)

In [339]:
len(df)

166404

In [340]:
artist_name=list(df['artist_name'])

['Billie Eilish',
 'Lil Nas X',
 'Ed Sheeran',
 'DaBaby',
 'Tyler, The Creator',
 'Lizzo',
 'Young Thug',
 'Polo G',
 'J. Cole',
 'Shawn Mendes',
 'Lil Uzi Vert',
 'Lil Nas X',
 'Jonas Brothers',
 'Mustard',
 'Billie Eilish',
 'Billie Eilish',
 'Juice WRLD',
 'Bazzi',
 'Khalid',
 'YNW Melly',
 'Billie Eilish',
 'YG',
 'Martin Garrix',
 'Ariana Grande',
 'BTS',
 'Ed Sheeran',
 'NLE Choppa',
 'Logic',
 'Sam Smith',
 'Katy Perry',
 'Lil Tecca',
 'Halsey',
 'Drake',
 'Ariana Grande',
 'Ariana Grande',
 'Offset',
 'Chris Brown',
 'Lil Skies',
 'Taylor Swift',
 'Lauv',
 'Joyner Lucas',
 'Marshmello',
 'Billie Eilish',
 'Drake',
 'Lil Uzi Vert',
 'Billie Eilish',
 'Tyler, The Creator',
 'DaBaby',
 '5 Seconds of Summer',
 'DaBaby',
 'Miley Cyrus',
 'The Chainsmokers',
 'Lunay',
 'Billie Eilish',
 'Taylor Swift',
 'Billie Eilish',
 'Jonas Brothers',
 'MAX',
 'Billie Eilish',
 'Daddy Yankee',
 'YK Osiris',
 'Juice WRLD',
 'NAV',
 'Khalid',
 'Blake Shelton',
 'Cardi B',
 'OneRepublic',
 'Luke Combs',
 'Chance the Rapper',
 'Lizzo',
 'Bad Bunny',
 'Cardi B',
 'Tyler, The Creator',
 'Sech',
 'Nipsey Hussle',
 'ScHoolboy Q',
 'Tory Lanez',
 'DJ Khaled',
 'Mabel',
 'Kygo',
 'Avicii',
 'Tyler, The Creator',
 'Rich The Kid',
 'Kehlani',
 'Billie Eilish',
 'Tyler, The Creator',
 'Billie Eilish',
 'Nicky Jam',
 'Mark Ronson',
 'Florida Georgia Line',
 'Tyler, The Creator',
 'Juice WRLD',
 'Juice WRLD',
 'Future',
 'Russ',
 'DJ Luian',
 'Bryce Vine',
 'Ellie Goulding',
 'Ozuna',
 'Maren Morris',
 'BLACKPINK',
 'Post Malone',
 'Tyler, The Creator',
 'Lewis Capaldi',
 'BTS',
 'Tyler, The Creator',
 'Tyler, The Creator',
 'Billie Eilish',
 'Jonas Brothers',
 'Lil Dicky',
 'DJ Khaled',
 'Offset',
 'Trippie Redd',
 'PnB Rock',
 "Why Don't We",
 'Juice WRLD',
 'Anuel Aa',
 'Ariana Grande',
 'Marshmello',
 'Jonas Brothers',
 'Luh Kel',
 'Luke Bryan',
 'Florida Georgia Line',
 'Kygo',
 'Juice WRLD',
 'Thomas Rhett',
 'Future',
 'NF',
 'Offset',
 'Future',
 'Jonas Brothers',
 'Ariana Grande',
 'MEDUZA',
 'Logic',
 'Logic',
 'Jonas Brothers',
 'Andy Grammer',
 'Tyler, The Creator',
 'benny blanco',
 'Ariana Grande',
 'Jonas Blue',
 'Ty Dolla $ign',
 'Jonas Brothers',
 'Jonas Brothers',
 'Ozuna',
 'Lil Peep',
 'Tyler, The Creator',
 'Avicii',
 'Ava Max',
 'Luke Combs',
 'PnB Rock',
 'Billie Eilish',
 'Jonas Brothers',
 'Future',
 'Yo Gotti',
 'DJ Khaled',
 'SZA',
 'Maren Morris',
 'Jhene Aiko',
 'P!nk',
 'Ariana Grande',
 'Gunna',
 'Blueface',
 'ScHoolboy Q',
 'Future',
 'G-Eazy',
 'French Montana',
 'Jonas Brothers',
 'Jonas Brothers',
 'Tyga',
 'Maluma',
 'Joji',
 'ROSALÍA',
 'Future',
 'Khalid',
 'Tyga',
 'Jonas Brothers',
 'NAV',
 'ILLENIUM',
 'Jonas Brothers',
 'Tory Lanez',
 'Tyga',
 'Future',
 'Tyga',
 'YBN Cordae',
 'Luke Combs',
 'Ozuna',
 'NLE Choppa',
 'Luke Combs',
 'Ozuna',
 'Luke Combs',
 'ScHoolboy Q',
 'Megan Thee Stallion',
 'Cody Johnson',
 'YG',
 'Jhay Cortez',
 'Dalex',
 'Alan Walker',
 'BTS',
 'Miley Cyrus',
 'Ariana Grande',
 'Marshmello',
 'ZAYN',
 'James Arthur',
 'Lana Del Rey',
 'Gunna',
 'Miley Cyrus',
 'BTS',
 'FLETCHER',
 'Old Dominion',
 'Daddy Yankee',
 'Juice WRLD',
 'BTS',
 'Bad Bunny',
 'Ariana Grande',
 'Tiësto',
 'NLE Choppa',
 'Manuel Turizo',
 'Old Dominion',
 'Jessie Reyez',
 'Bebe Rexha',
 'BTS',
 'Ariana Grande',
 'Logic',
 'Sueco the Child',
 'DJ Snake',
 'Machine Gun Kelly',
 'Khalid',
 'Khalid',
 'DJ Khaled',
 'Lizzo',
 'Sam Feldt',
 'Saweetie',
 'Khalid',
 'BTS',
 'Logic',
 'DJ Khaled',
 'Tyga',
 'Sean Paul',
 "Why Don't We",
 'Lil Tjay',
 'Lewis Capaldi',
 'Tyga',
 'Dustin Lynch',
 'YG',
 'Lauv',
 'Future',
 'iann dior',
 'Tyga',
 'Ariana Grande',
 'Juice WRLD',
 'Tyga',
 'Ryan Hurd',
 'Logic',
 'Ed Sheeran',
 'Tyga',
 'Dreamville',
 'Future',
 'Mustard',
 'Marshmello',
 'Polo G',
 'Tyga',
 'Ed Sheeran',
 'NAV',
 'DJ Khaled',
 'Tyga',
 'Bon Iver',
 'Tee Grizzley',
 'Madison Beer',
 'Ariana Grande',
 'Tyga',
 'Bazzi',
 'Tyga',
 'Wallows',
 'Charli XCX',
 'Tyga',
 'Tyga',
 'Roddy Ricch',
 'Avicii',
 'Julia Michaels',
 'Hozier',
 'A Boogie Wit da Hoodie',
 'Jake Owen',
 'YG',
 'Slipknot',
 'Gucci Mane',
 'Khalid',
 'Tame Impala',
 'Russ',
 'Myke Towers',
 'Chris Young',
 'Sia',
 'Sech',
 'Logic',
 'Blanco Brown',
 'Sub Urban',
 'Will Smith',
 'XXXTENTACION',
 'Gucci Mane',
 'Naomi Scott',
 'NLE Choppa',
 'R3HAB',
 'Tyga',
 'ScHoolboy Q',
 'Beyoncé',
 'Lizzo',
 'BTS',
 'Lil Peep',
 'Avicii',
 'Mabel',
 'Farruko',
 'TWICE',
 'Khalid',
 'Ambjaay',
 'Brooks & Dunn',
 'Denzel Curry',
 'Chris Brown',
 'Dylan Scott',
 'YUNGBLUD',
 'Polo G',
 'Tim McGraw',
 'Juice WRLD',
 'Lil Keed',
 'Polo G',
 'Khalid',
 'Khalid',
 'Paulo Londra',
 'Logic',
 'Khalid',
 'DaBaby',
 'Lil Skies',
 'Jack & Jack',
 'Polo G',
 'Ariana Grande',
 'Khalid',
 'Rich The Kid',
 'Drax Project',
 'Sia',
 'iann dior',
 'Will Smith',
 'Halsey',
 'Lil Mosey',
 'Daya',
 'Pitbull',
 'AJR',
 'NLE Choppa',
 'Miley Cyrus',
 'Joyner Lucas',
 'Jonas Brothers',
 'Martin Jensen',
 'Galantis',
 'Miley Cyrus',
 'Khalid',
 'BTS',
 'Gunna',
 'Billie Eilish',
 'Lil Skies',
 'Carly Rae Jepsen',
 'YG',
 'Lauv',
 'Kodak Black',
 'Lil Tjay',
 'Blueface',
 'Juice WRLD',
 'DJ Khaled',
 'Tame Impala',
 'Polo G',
 'Iggy Azalea',
 'Keith Urban',
 'Polo G',
 'Vampire Weekend',
 'Logic',
 'Thomas Rhett',
 'Gunna',
 'Becky G',
 "Why Don't We",
 'Gryffin',
 'Lizzo',
 'Denzel Curry',
 'Aventura',
 'Lil Pump',
 'Dylan Scott',
 'Lil Mosey',
 'YungGen',
 'BLACKPINK',
 'Lil Nas X',
 'ScHoolboy Q',
 'Polo G',
 'Polo G',
 'Herve Pagez',
 'G-Eazy',
 'Polo G',
 'Chris Janson',
 'Blueface',
 'Khalid',
 'Morgan Wallen',
 'Adam Doleac',
 'Karol G',
 'Khalid',
 'Calboy',
 'London On Da Track',
 'Bastille',
 'Thomas Rhett',
 '2 Chainz',
 'Florida Georgia Line',
 'Jake Owen',
 'Lil Skies',
 'Polo G',
 'Bea Miller',
 'Thomas Rhett',
 'Jeremy Zucker',
 'Maggie Rogers',
 'Juice WRLD',
 'Thomas Rhett',
 'Bhad Bhabie',
 'Polo G',
 'Vampire Weekend',
 'Mena Massoud',
 'Gesaffelstein',
 'Anderson .Paak',
 'Chris Brown',
 'James Bay',
 'ScHoolboy Q',
 'Khalid',
 'Lizzo',
 'Zedd',
 'Polo G',
 'Logic',
 'DJ Snake',
 'DaBaby',
 '2 Chainz',
 'ScHoolboy Q',
 'Dalex',
 'John Mayer',
 'DJ Khaled',
 'Rauw Alejandro',
 'Logic',
 'Lizzo',
 'Trey Songz',
 'Brooks & Dunn',
 'Thomas Rhett',
 'Kevin Abstract',
 'Florida Georgia Line',
 'Yella Beezy',
 'Polo G',
 'Miley Cyrus',
 'Calvin Harris',
 'Avicii',
 'Lewis Capaldi',
 'Tove Lo',
 'Ali Gatie',
 'Stormzy',
 'Logic',
 'Florida Georgia Line',
 'Logic',
 'Denzel Curry',
 'The Chainsmokers',
 'Tee Grizzley',
 'Moneybagg Yo',
 'Moneybagg Yo',
 'Tyla Yaweh',
 'Flo Milli',
 'Khalid',
 'Tee Grizzley',
 'Thomas Rhett',
 'Tee Grizzley',
 'Polo G',
 'Denzel Curry',
 'YNW Melly',
 'Logic',
 'SAINt JHN',
 'Martin Garrix',
 'Logic',
 'Rich The Kid',
 'Quando Rondo',
 'Tee Grizzley',
 'Avril Lavigne',
 'Will Smith',
 'Lady Antebellum',
 'ScHoolboy Q',
 'Denzel Curry',
 'Hozier',
 'Kelly Clarkson',
 'LANY',
 'Mau y Ricky',
 'Oliver Tree',
 'Offset',
 'Yung Pinch',
 'Tee Grizzley',
 'ROSALÍA',
 'Berner',
 'Gunna',
 'Lunay',
 'Bastille',
 'P!nk',
 'Luis Fonsi',
 'Avicii',
 'Post Malone',
 'Calboy',
 'YNW Melly',
 'Avicii',
 'Duncan Laurence',
 'Gunna',
 'Juice WRLD',
 'mxmtoon',
 'Tee Grizzley',
 'Offset',
 'Khalid',
 'Myke Towers',
 'Maluma',
 'YG',
 'DVBBS',
 'GoldLink',
 'Dennis Lloyd',
 'PRETTYMUCH',
 'Julia Michaels',
 'Brytiago',
 'Jess Glynne',
 'YG',
 'YG',
 'Thomas Rhett',
 'Cuco',
 'Luis Fonsi',
 'Jasiah',
 'Sebastian Yatra',
 'Lost Kings',
 'John Gurney',
 'iann dior',
 'Tee Grizzley',
 'Iggy Azalea',
 '10k.Caash',
 'James Barker Band',
 'ZAYN',
 'blackbear',
 'NF',
 'George Strait',
 'Avicii',
 'Tee Grizzley',
 'Lil Pump',
 'Pia Mia',
 'Thomas Rhett',
 'Karol G',
 'John King',
 'Lizzo',
 'Clairo',
 'Kygo',
 'ChocQuibTown',
 'Dan + Shay',
 'Sia',
 'Tee Grizzley',
 'Denzel Curry',
 'Comethazine',
 'Doja Cat',
 'Tee Grizzley',
 'Zion & Lennox',
 'Tee Grizzley',
 'Dean Lewis',
 'Juice WRLD',
 'Quinn XCII',
 '2 Chainz',
 'Dan Talevski',
 'Avicii',
 'Gabby Barrett',
 "Why Don't We",
 'FLETCHER',
 'Blueface',
 'Jon Bellion',
 'Anderson .Paak',
 'Maluma',
 'Tee Grizzley',
 'Juice WRLD',
 'ScHoolboy Q',
 'Hillsong UNITED',
 'Sofia Reyes',
 'Tee Grizzley',
 'Cage The Elephant',
 'Zara Larsson',
 'Stunna 4 Vegas',
 'James Blake',
 'Logic',
 'Lil Skies',
 'YoungBoy Never Broke Again',
 'Danny Ocean',
 'Lewis Capaldi',
 'Lil Skies',
 'David Guetta',
 'Bastille',
 'Avicii',
 'ScHoolboy Q',
 'Kehlani',
 'GASHI',
 'ILLENIUM',
 'NLE Choppa',
 'Boogie',
 'YG',
 'Juice WRLD',
 'Brad Paisley',
 'Megan Thee Stallion',
 'Maggie Rogers',
 'Madeon',
 'The Lumineers',
 'Juice WRLD',
 'Nicky Jam',
 'Casper Magico',
 'Tyler Rich',
 'Natti Natasha',
 'David Guetta',
 'Paloma Mami',
 'Vampire Weekend',
 'Juice WRLD',
 'Ruel',
 'Surfaces',
 'Juice WRLD',
 'Gunna',
 'Lil Skies',
 'Lost Kings',
 'Dean Lewis',
 'Logic',
 'Calboy',
 'DaBaby',
 'Thomas Rhett',
 'Zara Larsson',
 'TOMORROW X TOGETHER',
 'Justin Rarri',
 'Maggie Rogers',
 'Roddy Ricch',
 '03 Greedo',
 'Quando Rondo',
 'Karol G',
 'AJR',
 'Lil Tecca',
 'Eli Young Band',
 'Jax Jones',
 'James TW',
 'YBN Cordae',
 'Lil Tjay',
 'YG',
 'blink-182',
 'YNW Melly',
 'Ally Brooke',
 'Jack & Jack',
 'Alec Benjamin',
 'Y2K',
 'King Princess',
 'Rich The Kid',
 'P!nk',
 'Juice WRLD',
 'Mena Massoud',
 'Alex Couture',
 'gnash',
 'Aminé',
 'NLE Choppa',
 'Kehlani',
 'The Black Keys',
 'Thomas Rhett',
 'DaBaby',
 'Vampire Weekend',
 'Rex Orange County',
 'Gunna',
 'Future',
 'Juicy J',
 'Thomas Rhett',
 'ScHoolboy Q',
 'Avicii',
 'Rannar Sillard',
 'Tyla Yaweh',
 'Felix Cartal',
 'Kelsea Ballerini',
 'Thomas Rhett',
 'Gunna',
 'Farruko',
 'Cuco',
 'Lil Durk',
 'ScHoolboy Q',
 'Ari Lennox',
 'Martin Garrix',
 'Ari Lennox',
 'Quin Nfn',
 'ITZY',
 'R3HAB',
 'DJ Khaled',
 'SG Lewis',
 '$uicideBoy$',
 'Tejal Yann',
 'YoungBoy Never Broke Again',
 'The Chainsmokers',
 'YG',
 'Hillsong UNITED',
 'Thomas Rhett',
 'Avicii',
 'Ozuna',
 'Kiana Ledé',
 'Moneybagg Yo',
 'Gabbie Hanna',
 'Bastille',
 'Still Woozy',
 'Thomas Rhett',
 'Vampire Weekend',
 'Juice WRLD',
 'The Boyboy West Coast',
 'Yung Gravy',
 'Natanael Cano',
 'Fuerza Regida',
 'Bas',
 'Jacquees',
 'Vampire Weekend',
 'Beyoncé',
 'Anuel Aa',
 'Ben Platt',
 'BANKS',
 'Kygo',
 'Lalo Ebratt',
 'French Montana',
 'Vampire Weekend',
 'Yung Gravy',
 'Bastille',
 'Machine Gun Kelly',
 'Megan Thee Stallion',
 'YoungBoy Never Broke Again',
 'YG',
 'Jonas Brothers',
 'Beast Coast',
 'Carly Rae Jepsen',
 'Bastille',
 'Bastille',
 'Dominic Fike',
 'Bon Iver',
 'Tech N9ne',
 'Bastille',
 'Bastille',
 'NAV',
 'Major Lazer',
 'Avicii',
 'Runaway June',
 'Kiana Ledé',
 'DaBaby',
 'Kevin Gates',
 'DJ Khaled',
 'I Prevail',
 'bülow',
 'ScHoolboy Q',
 'Voyager',
 'BLACKPINK',
 'Rich The Kid',
 'Kehlani',
 'NOTD',
 'K$upreme',
 'Flume',
 'Bastille',
 'Bastille',
 'EVERGLOW',
 'GNAR',
 'Rich The Kid',
 'AJR',
 'Kevin Gates',
 'The Black Keys',
 'Juice WRLD',
 'Weezer',
 'Beyoncé',
 'Bethel Music',
 'Yolta',
 'Stray Kids',
 'Thomas Rhett',
 'Jon Bellion',
 'Prince Royce',
 'ScHoolboy Q',
 'DJ Khaled',
 'Gryffin',
 'Craig Xen',
 'Little Mix',
 'NLE Choppa',
 'Rannar Sillard',
 'pewdiepie',
 'Momento',
 'DaBaby',
 'Lil Skies',
 'Beyoncé',
 'YG',
 'Five Finger Death Punch',
 'Khalid',
 'Jacquees',
 'Russ',
 'Cage The Elephant',
 'I Prevail',
 'bbno$',
 'Anderson .Paak',
 'DJ Khaled',
 'The Head and the Heart',
 'grandson',
 'CNCO',
 'Solange',
 'Blac Youngsta',
 'Steven Goldmund',
 'Carly Rae Jepsen',
 'haroinfather',
 'Comethazine',
 'Pola Ris',
 'Steven Goldmund',
 'Hijos De Leyva',
 'Thomas Rhett',
 'Sia',
 'Offset',
 'Jon Pardi',
 'Maggie Rogers',
 'Denzel Curry',
 'PnB Rock',
 'The Lumineers',
 'Will Smith',
 'Birdman',
 'Free Nationals',
 'Future',
 'Reykon',
 'AUSTN',
 'Hopsin',
 'Tropkillaz',
 'Tom Walker',
 'Lil Skies',
 'Dreamville',
 'Bass Santana',
 'DiRTY RADiO',
 'Momento',
 'ARTY',
 'Blake Rose',
 'Smokepurpp',
 'Julia Michaels',
 'Jesse & Joy',
 'Mike Posner',
 'Beyoncé',
 'Brytiago',
 'ITSOKTOCRY',
 'Young Dolph',
 'Jon Bellion',
 'Vampire Weekend',
 'GoldLink',
 'Conan Gray',
 'SLANDER',
 'Beyoncé',
 'Fuerza Regida',
 'Yung Gravy',
 'Carly Rae Jepsen',
 'Juice WRLD',
 'David Guetta',
 'Chris Stapleton',
 'Denzel Curry',
 'Moneybagg Yo',
 'Naturally Recurring',
 'Herencia de Patrones',
 'Wiz Khalifa',
 'Ally Brooke',
 'Lizzo',
 'Drake',
 'Machine Gun Kelly',
 'NAV',
 'DaBaby',
 'Vampire Weekend',
 'Kevin Gates',
 'Greeicy',
 'Sia',
 'Kehlani',
 'Yandel',
 'LÉON',
 'Lewis Capaldi',
 'White $osa',
 'CHUNG HA',
 'DaBaby',
 'Lil Peep',
 'Joseph Beg',
 'Vampire Weekend',
 'Louis Tomlinson',
 'Carly Rae Jepsen',
 'Denzel Curry',
 'Primer Dia',
 'Jake Owen',
 'GoldLink',
 'AJR',
 'AJR',
 'NGHTMRE',
 'YBN Nahmir',
 'Florence + The Machine',
 'DJ Khaled',
 'Tiny Meat Gang',
 'Hozier',
 'GoldLink',
 'GoldLink',
 'Intentional Vibes',
 'Chelsea Cutler',
 'Russ',
 'Anderson .Paak',
 'Lil Skies',
 'The Head and the Heart',
 'James TW',
 'Abraham Vazquez',
 'sayayin',
 'Beyoncé',
 'Tejal Yann',
 'Christie Huff',
 'AJR',
 'Chase Rice',
 'Sech',
 'Ari Lennox',
 'Irizarry Barraza',
 'Flipp Dinero',
 'JTres',
 'Carin Leon',
 'Shenseea',
 'Wallows',
 'NAV',
 'NCT 127',
 'Empty Space',
 'Kevin Gates',
 'Kevin Gates',
 'Gunna',
 'Ari Lennox',
 'Post Malone',
 'Naomi Scott',
 'Quinn XCII',
 'DJ Khaled',
 'Leerseite',
 'Drake',
 'Vampire Weekend',
 'Empty Space',
 'Logic',
 'Offset',
 'Yung Gravy',
 'Catfish and the Bottlemen',
 'James Bay',
 'Allana Johnson',
 'Steven Goldmund',
 'A$AP Rocky',
 'Lud Foe',
 'Melii',
 'Petit Biscuit',
 'Logic',
 'GoldLink',
 'Ari Lennox',
 'Reik',
 'Hillsong UNITED',
 'Ellie Goulding',
 'Tejal Yann',
 'The Black Eyed Peas',
 'John Legend',
 'Kevin Abstract',
 'Todrick Hall',
 'Beyoncé',
 'Wiley',
 'Matt Simons',
 'James TW',
 'Noriel',
 'Quinn XCII',
 'SLANDER',
 'A$AP Ferg',
 'FKA twigs',
 'Saweetie',
 'Kevin Abstract',
 'Lunay',
 'Intentional Vibes',
 'Ugly God',
 'Hikaru Utada',
 'PnB Rock',
 'Maffio',
 'Beyoncé',
 'Naturally Recurring',
 'Of Monsters and Men',
 'Venom Faun',
 'Arlette Leduc',
 'Sabrina Carpenter',
 'Tejal Yann',
 'Maggie Rogers',
 'FLETCHER',
 'Vampire Weekend',
 'Loud Luxury',
 'Everlight',
 'Eric Bellinger',
 'Walker Hayes',
 'Beyoncé',
 'Ashley O',
 'Hilder Sky',
 'Mumford & Sons',
 'Yung Gravy',
 'Beyoncé',
 'Calibre 50',
 'Ozuna',
 'I Prevail',
 'Ambjaay',
 'AJ Mitchell',
 'Clairo',
 'Aries',
 'Moneybagg Yo',
 'Fuerza Regida',
 'Ellie Goulding',
 'Gunna',
 'YUNGBLUD',
 'NAV',
 'Lana Del Rey',
 'DaBaby',
 'Tyler Childers',
 'Naomi Scott',
 'Netsky',
 'AJR',
 'Beast Coast',
 ...]

In [ ]:
# again measuring the time
start = timeit.default_timer()

# empty list, batchsize and the counter for None results
rows = []
batchsize = 100
None_counter = 0

for i in range(0,len(top_songs_2000to20019['track_id']),batchsize):
    batch = top_songs_2000to20019['track_id'][i:i+batchsize]
    feature_results = sp.audio_features(batch)
    for i, t in enumerate(feature_results):
        if t == None:
            None_counter = None_counter + 1
        else:
            rows.append(t)
            
print('Number of tracks where no audio features were available:',None_counter)

stop = timeit.default_timer()
print ('Time to run this code (in seconds):',stop - start)

In [347]:
# again measuring the time
start = timeit.default_timer()

#artist name to a list
artist_name=list(df['artist_name'])

# Get genres of artists
artist_genres = []     
for name in artist_name:
    genres = []
    artists = sp.search(q='artist:' + name, type='artist')
    genres.append(name)
    for i in range(len(artists['artists']['items'])):
        genre = artists['artists']['items'][i]['genres']
        if genre:
            genres.append(genre)

    artist_genres.append(genres)

stop = timeit.default_timer()
print ('Time to run this code (in seconds):', stop - start)

retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs
retrying ...1secs

SSLError: HTTPSConnectionPool(host='api.spotify.com', port=443): Max retries exceeded with url: /v1/search?q=artist%3ABreaking+Benjamin&limit=10&offset=0&type=artist (Caused by SSLError(SSLError("bad handshake: SysCallError(54, 'ECONNRESET')")))

# Misc Functions

In [151]:
#This fucntion still needs work
def get_top_10k_tracks(year):
    start = timeit.default_timer()

    # create empty lists where the results are going to be stored
    artist_name = []
    track_name = []
    popularity = []
    track_id = []
    
    for i in range(0,10000,50):
        track_results = sp.search(q='year:'+str(year), type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
        
    stop = timeit.default_timer()
    print ('Time to run this code (in seconds):', stop - start) 
    
    #loading lists into dataframe
    df_tracks = pd.DataFrame({'artist_name':artist_name,
                              'track_name':track_name,
                              'track_id':track_id,
                              'popularity':popularity})
    print(df_tracks.shape)
    return df_tracks.head()

In [152]:
get_top_10k_tracks(2019)

Time to run this code (in seconds): 143.38842942700012
(50, 4)

           artist_name       track_name                track_id  popularity
0            Sada Baby       Cheat Code  4dgxcirS2r25F1CUCcLHKH          41
1           Neek Bucks           Energy  5bYKsyJ0qiE3ArxZ15fFKl          44
2              Quentyn              Why  5jJYIOEvGlwVIQJi0iWT82          49
3  Los Hijos De Garcia   Respeto Me Dan  7rNWzzJqyV7Ld13pdr4z1A          43
4           India.Arie  In Good Trouble  0oisYxhn4QQnA5VmcfwCG1          43

In [155]:
#df_tracks.head()

NameError: name 'df_tracks' is not defined